<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Acebook-Timeline</title>
  <link rel="stylesheet" type="text/css" src="./public/stylesheets/style.css">
  <style>
  nav a{
    display: inline;
  }
  .tb{
    width: 125%;
  }
</style>
</head>
<body>
  {{# if users}}
  <nav>
    <div id="navwrapper">
      <div id="navbar">
        <div  class="td" id="i-links">
                    <div  class="tb">
                      <a class="new-post-link" href="/">
          <h1 class="logowrapper" style="color: white;">Acebook</h1>
        </a>
                        <div  class="td" id="m-td">
                            <div class="tb">
                                <span  class="td"><i class="material-icons"><button type="submit" class="navbut1" value = "Submit"><a href="/main">Main Page</a></button></i></span>
                                <span class="td"><i class="material-icons"><form class="" action="auth/session/destroy" onsubmit="logging_out()" method="get">
                                  <tr>
                                    <td><button type="submit" class="navbut2" value = "Submit" id="">Log Out</button></td>
                                  </tr>
                                </form></i></span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div id="curr_time" onload="time()"></div>
    </div>
  </nav>
  {{#users}}
  <h1 style="color: black; margin: 50px;">{{this.firstname}}'s Timeline</h1>
  {{/users}}
  <div class="wrapper" style="margin-top: -40px;">
    <section id="block" class="posts">
      <div class="each-year">
        <div class="title" id="date">2020</div>
        {{#each posts}}
        <div class="each-event">
          <div class="event-description">
            <li>{{this.message}}</li>
            <li style="margin-bottom: 20px;">{{this.date}}</li>
            <form style = "display: inline; float: right; margin-top: -20px;" action="/posts/delete/{{this._id}}" method="post">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="submit" value="Delete" />
            </form>
            <form style = "display: inline; float: right; margin-top: -20px;" action="/posts/edit/{{this._id}}" method="get">
              <input type="submit" value="Edit" />
            </form>
            <form style = "display: inline; float: right; margin-top: -20px;" action="/posts/comment/{{this._id}}" method="get">
                <input type="submit" value="Comment" />
              </form>

          </div>
        </div>
        {{/each}}

      </section>
      <section class="block">
        <div class="each-year">
          <div class="title" id="date">2019</div>
          <div class="each-event">
            <div class="event-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
          </div>
        </div>
      </section>
    </div>
    {{/if}}
    <a class="new-post-link" href="/posts/new">New post</a><br/>
    <a class="new-post-link" href="/">Home Page</a>


    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-db44b196776521ea816683afab021f757616c80860d31da6232dedb8d7cc4862.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script id="rendered-js">
    var $element = $('.each-event, .title');
    var $window = $(window);
    $window.on('scroll resize', check_for_fade);
    $window.trigger('scroll');
    function check_for_fade() {
      var window_height = $window.height();
      $.each($element, function (event) {
        var $element = $(this);
        var element_height = $element.outerHeight();
        var element_offset = $element.offset().top;
        space = window_height - (element_height + element_offset - $(window).scrollTop());
        if (space < 60) {
          $element.addClass("non-focus");
        } else {
          $element.removeClass("non-focus");
        }
      });
    };
    </script>
  <!-- <script>
    {{!-- JS for clock --}}
    var div = document.getElementById('curr_time');
    function time() {
    div.innerHTML = "";
    var d = new Date();
    var s = d.getSeconds();
    var m = d.getMinutes();
    var h = d.getHours();

    h = (h < 10) ? "0" + h : h;
    m = (m < 10) ? "0" + m : m;
    s = (s < 10) ? "0" + s : s;

    div.innerHTML = h + ":" + m + ":" + s;
  }

  setInterval(time, 1000);
    </script> -->
  </body>
  </html>
